* {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

header {
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav>ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 18px;

}

nav a {
  text-decoration: none;
}


.nav-title {
  font-size: 45px;
  font: weight 700;
  color: #131313;
}



.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  color: #131313;
  font-size: 64px;
  font-weight: 700;
}

.banner-dipription {
  width: 800px;
  color: #727272;
  font-size: 16px;
  font-weight: 400;
}

.btn-primary {
  padding: 20px 10px;
  width: 180px;
  height: 64px;
  font-size: 20px;
  font-weight: 600;
  color: #FFF;
  border-radius: 8px;
  background: #FF900E;
  cursor: pointer;
  border: 1px solid white;
}

.banner-img {
  margin-top: 20px;
  width: 100%;
}

main {
  max-width: 1440px;
  margin: 70px auto;
}

.team-conteiner {
  display: flex;
  align-items: center;
}

.team-img-conteiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}

.teams-content {
  padding-left: 70px;
  padding-right: 70px;
}

.teams-title {
  width: 468px;
  font-size: 45px;
  font-weight: 700;
}

.teams-description {
  width: 537px;
  font-size: 16px;
  font-weight: 400;
  color: #727272;
}

.span1 {
  color: #727272;

}

.span2 {
  color: #131313;
}

.span3 {
  color: #FF900E;
}

.Facts-p {
  color: #727272;
}


/* featurs styles  */
.features {
  margin-top: 130px;
  display: flex;
  gap: 100px;
}

.feature-content,
.card {
  padding: 30px;
  margin-bottom: 22px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

}

.features .section-title {
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}

.ten-Year-badge {
  border-radius: 8px;
  background-color: #FF900E;
  color: #FFF;
  width: 342px;
  padding: 40px;
  position: relative;
  bottom: 100px;

}

.ten-Year-badge h2 {
  font-size: 64px;
  margin-top: 0px;
  text-align: center;
}

.ten-Year-badge p {
  font-size: 24px;
  text-align: center;
}

.feature-img img {
  height: 90%;
  margin-left: 70px;
}





















.feac-text {
  color: #131313;
  font-size: 45px;
  font-weight: 700;

}

.Facts-card-container {
  display: flex;
  justify-content: space-around;

}

.Facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  padding: 30px 30px;

}

.Facts-card-container .card-title {
  font-weight: 600;
  font-size: 20px;
  margin-top: 5px;
}





.Facts-card-container .card-stats {
  font-size: 45px;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;

}

.sponsors-description {
  color: #727272;
}

.sponsors {
  text-align: center;
}

.sponsors-img-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}


.footer {

  width : 1440px;
  height: 100px;
  border-radius: 8px;
  background: #FFF4E7;
  text-align: center;
  padding-top: 60px;
}





































/* shred responsive */